<!doctype html>
<html lang="en"  ng-app="Experience">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<!-- <meta name="author" content="Hakim El Hattab, modified by Benjamin huang"> -->

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css" id="theme">
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		



		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body ng-app="Experience">

		<div class="reveal">

			
			

			<div class="slides" ng-controller="BioController as bio">	
				<section>
					<section>
						<h3>Ben's Resume</h3>
						<p>press down for bio and right for experiences</p>
						<p font-size="12">Slides made with Postgres + DjangoREST + AngularJS + RevealJS and getting JSON from my end point.</p>
						
						
					</section>

					<section ng-repeat="things in bio.things">
						<h3>{{things.name}}</h3>
						<h>{{things.email}}</h>
						<p>{{things.about}}</p>
					</section>
				</section>
			</div>

            <div class="slides" ng-controller="ExperienceController as experience">

                <section ng-repeat="stuff in experience.stuff">
                		<section >
                        <h3>{{stuff.title}}</h3>
                		<p font-size="12">{{stuff.start}} - {{stuff.end}}</p>
                		<br>
                		<p font-size="12">{{stuff.content}}</p>
                		</section>
            	</section>

            </div>
        </div>


		

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
